.app{
  text-align: center;
  height: auto;
  width: 100%;
  margin-top: 100px;
}

.calc-wrapper{
  width: 400px;
  height: 600px;
}


.row{
  display: flex;
  width: 100%;
}



.home-wrap{
display: flex;
justify-content: center;
}